body{
    text-align: center;
}
.container{
    position: relative;
    margin:90px;
    display:inline-block;
    background-color: rgb(52, 52, 50);
    width: 70%;
    height: 400px;
    text-align: center;
}
.clr{
    display: inline-block;
    right: -214px;
    top: 8px;
    position: relative;
    background-color: rgb(145, 159, 246);
    color: black;
    border-radius: 4px;
    font-size: 17px;
}
.clr:hover{
    color: white;
    background-color: rgb(17, 4, 57);
}
.image{
    position: absolute;
    top: 4px;
    width: 95px;
    left: 3px;
}
.heading{
    font-size: 60px;
    font-size: 'Caveat', cursive;
    color:rgb(216, 241, 226);
    
}
.slink{
    font-size: 21px;
}
.input{
    display:inline;
    border-radius: 4px;
    height:35px;
    width:50%;
}
.btn{
    border-radius: 6px;
    font-size: 30px;
    margin:27px;
    background-color: rgb(145, 159, 246);
    color: black;
}
.btn:hover{
    color: white;
    background-color: rgb(17, 4, 57);
}
#slink{
    font-size: 20px;
    color: red;
    text-decoration:underline;
}
#slink:hover{
    color: blue;

}
